li{
  list-style-type: none;
}
.navbar {
  background-color: #504b46;
  width: 100%;
}
.Artists {
  width: 113px;
  height: 18px;
  font-family: Typold Extended;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: right;
  color: #fafafa;
}
.Venues {
  width: 111px;
  height: 18px;
  font-family: Typold Extended;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: right;
  color: #fafafa;
}
.About {
  width: 97px;
  height: 18px;
  font-family: Typold Extended;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: right;
  color: #fafafa;
}
.Plan {
  font-family: Typold Extended;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: left;
  color: #504b46;
}
.Hotel-Deals {
  width: 189px;
  height: 18px;
  font-family: Typold Extended;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: left;
  color: #fafafa;
}
.Schedule {
  width: 149px;
  height: 18px;
  font-family: Typold Extended;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: left;
  color: white;
}
.rollover_main-copy {
  padding: 5px 15px 5px 15px;
  border-radius: 25px;
  background-color: #f8f7f7;
}
.navbar a:hover{
  text-decoration: none;
  color: #fafafa;
}
.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}
.navbar li{
  padding: 18px 15px 18px 15px;
}
.navbar-dark .navbar-toggler{
  border: none;
  color:white;
  padding: none ;
  padding: .0rem .0rem ;
}
.navbar-menu{
  font-weight: 400;
  font-size: 18px;
  color:white;
  font-family: Typold Extended;
}
.navbar-brand img{
  position: absolute;
  top:10px;
  left: 45%;
  right: 50%;
}
.navbar .navbar-nav>{
  display: flex;
}
.navbar .navbar-nav{
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.hero-banner{
  padding-left: 0%;
  padding-right: 0%;
  position: initial;
}
body, html {
  height: 100%;
  margin: 0;
}
.hero-banner {
  background-image: url("herobanner.jpg");
   /* Full height */
   height: 40%; 

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  margin: 0px;

}
.banner-text{
  position: absolute;
  top:30%;
  left:9%;
  color:white;
  font-size: 60px;
  font-weight: 900;
  font-family: Typold Extended;
}
.nav-item{
  list-style-type: none;
      width: max-content;
}
.break-Schedule {
  font-family: Typold Extended;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: left;
  color: white;
  top: 10px;
  position: absolute;
  right: 10px;
}
 .navbar-collapse .collapse{
  background-color: #ff641e;
}
.hero-banner{
  min-height: 200px;
}
@media (min-width: 992px) and (max-width: 1200px) {  
    .navbar-nav{
      justify-content: center !important;
    }
    .navbar-brand img{
      left:43%;
    }
}
@media (min-width: 576px) and (max-width: 992px) {
  .navbar-left{
    justify-content: start !important;
  }
  .navbar-right{
    justify-content: flex-end !important;
  }
   li.nav-items{
    padding: 0px ;
    display: none ;
    list-style-type: none;
  }
  .navbar-brand img{
    left:40%;
  }
  .navbar li{
    padding: 10px 7px 10px 7px ;
  }
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .break-Schedule {display: block;}
  .navbar-brand img{
    position: absolute;
    top:10px;
    left: 38%;
    right: 50%;
  }
  .navbar li{
    padding: 0px;
  }
  .banner-text{
    position: inherit;
    padding-left: 25%;
    padding-top: 24%;
    font-size: 40px;
  }
  .navbar-brand img{
    width: 78px;
    height: 85px;
  }
}

@media screen and (min-width: 576px) and (max-width: 3000px) {
  .break-Schedule{ display: none;}
}